body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

#body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

#title {
    flex-direction: column;
    flex: 1;
}

h1 {
    margin: 0px;
}

#main-text {
    margin: 0 0 5px;
}

#main-image {
    background-color: grey;
    flex: 1;
    height: 200px;
    width: 300px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}

.info {
    width: 200px;
    padding: 16px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.quote {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sign-up {
    flex: 1;
    display: flex;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}