body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.top-header,
.top,
.footer {
    background-color: #1f2937;
}

.top,
.mid-top {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mid-top {
    padding-bottom: 64px;
}

.mid-low,
.low {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0px;
}

.mid-low {
    background: #e7e7eb;
}

.header,
.main {
    margin: 0px 240px;
    padding-bottom: 100px;
}

.padding {
    flex: 1;
    margin: 0px 240px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8; 
    font-weight: 500;   
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.main {
    display: flex;
    align-items: center;
    gap: 48px;
}

.title {
    flex-direction: column;
    flex: 1;
}

h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main-text {
    margin: 0 0 5px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    padding: 5px 24px;
    border-radius: 7px;
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    border-color:  #3882f6;
}

.main-image {
    flex:1;
    display: flex;
    background-color: grey;
    max-width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.info img {
    border-style: solid;
    border-color: aqua;
    border-width: 5px;
    height: 150px;
    width: 150px;
}

.info p {
    text-align:center;
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote em,
strong {
    margin: 0px 330px;
}

.quote strong {
    text-align: end;
}

.sign-up {
    flex: 1;
    display: flex;
    background-color: #3882f6;
    padding: 48px 100px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.sign-up button {
    border-color: white;
    border-width: 3px;
}

.text h3,
.text p {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}